@use "./styles/toolBar.scss";
@use "./styles/main.scss";
@use "./styles/chess.scss";
@use "./styles/dock.scss";
@use "./styles/app.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
}
