@use "./../variables";
@use "./../mixins";
.apps {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    .app__header {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        background-color: rgba(210, 210, 210, 1);
        border-radius: 5px;
        div {
            display: inherit;
            gap: 10px;
            * {
                display: inherit;
                justify-content: center;
                align-items: center;
                background-color: yellow;
                height: 20px;
                width: 20px;
                font-size: 0.7rem;
                border-radius: 10px;
            }
            .expand {
                background-color: #36b507;
            }
            .minimize {
                background-color: #edea26;
            }
            .close {
                background-color: #eb2121;
            }
            *:hover {
                cursor: pointer;
                filter: saturate(40%);
            }
        }
    }
    .app--header:hover {
        cursor: pointer;
    }
}
.hidden {
    visibility: hidden;
}
.expand-app {
    width: 100%;
    height: calc(100vh - 67px);
}
