@use "./../variables";
@use "./../mixins";

.bin-app {
    width: 30rem;
    height: 30rem;
    background-color: white;
}
.bin-app__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-height: 100%;
    overflow: auto;
    .bin-app__main--imageCon {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
        gap: 2rem;
        width: 100%;
        height: 100%;
        overflow: auto;
        .imageCon__file {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            .file__icon {
                width: 50%;
                min-width: 7rem;
                min-height: 7rem;
                width: 40%;
                height: 100%;
                border-radius: 10px;
            }
            p {
                text-align: center;
                font-size: 10px;
            }
        }
        .imageCon__file:hover {
            cursor: pointer;
            background-color: rgb(240, 240, 240);
        }
    }
}
