@use "./../variables";
@use "./../mixins";

.camera-app {
    width: 30rem;
    height: 30rem;
    background-color: white;
}
.camera-app__main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    .main {
        height: 10rem;
        background-color: white;
    }
}
