@use "./../variables";
@use "./../mixins";

.finder-app {
    width: 30rem;
    height: 300px;
    background-color: white;
}
.finder-app__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-height: 100%;
    .main__navigation {
        height: 2rem;
        width: 100%;
        background-color: rgb(230, 230, 230);
    }
    .main__finder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
        gap: 2rem;
        width: 100%;
        height: 100%;
        overflow: auto;
        .finder__file {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            .file {
                width: 50%;
                &__icon {
                    min-width: 7rem;
                    min-height: 7rem;
                    width: 40%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
            p {
                text-align: center;
                font-size: 10px;
            }
        }
        .finder__file:hover {
            cursor: pointer;
            background-color: rgb(240, 240, 240);
        }
    }
}
