@use "./../variables";
@use "./../mixins";

.gallery-app {
    width: 30rem;
    height: 30rem;
    background-color: white;
}
.gallery-app__main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    overflow: auto;
    .gallery__image {
        height: 80%;
        max-width: 100rem;
        width: 100%;
        background-color: white;
    }
}
